<!DOCTYPE HTML>
<html>
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css.css">
</head>
<body>
	<section id="client" class="active">
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
		<form class="form" action="">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
			<div class="form-inputs">
				<label for="">Заявка
					<input name="request" type="text" required>
				</label>
			</div>
			<div class="form-inputs">
				<label for="">Цена
					<input name="text" type="number" required>
				</label>
			</div>
			<div class="form-inputs">
				<label for="">Дата
					<input name="Date" type="date" required>
				</label>
			</div>
			<button class="form-button">Отправить</button>
		</form>
		<div class="client-status">
			<h3>Таблица заказов</h3>
			<table>
				<tr>
					<td>Заявка</td>
					<td>Цена</td>
					<td>Дата</td>
					<td>Состояние</td>
				</tr>
				<tr>
					<td>Заявка1</td>
					<td>100</td>
					<td>дата1</td>
					<td class="wait">ожидание</td>
				</tr>
				<tr>
					<td>Заявка2</td>
					<td>200</td>
					<td>дата2</td>
					<td class="accept">принято</td>
				</tr>
			</table>
		</div>
	</section>
</body>
</html>