<!DOCTYPE HTML>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
	<div class="active">
		<form action="POST">
			<div class="form-inputs">
				<label>Логин
				<input name="login" class="login" type="text" required placeholder="Введите логин">
                </label>
			</div>
			<div class="form-inputs">
				<label>Пароль
				<input name="password" class="password" type="password" required placeholder="Введите пароль">
                </label>
			</div>
			<button name="singIn" class="form-button">Вход</button>
			<button name="singUp" class="form-button">Зарегестрироваться</button>
		</form>
	</div>
</body>
</html>