<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,width=device-width">

    <title>Client-Panel / RPS</title>

     <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div class="container">
        <header class="header header_admin">
            <a href="/admin" class="header__title">Admin Panel.</a>
        </header>

        <main class="main">
            <section class="content">
                <h2 class="content__title">Request list</h2>

                <div class="request-list">
                    <div class="request-list__request" th:each="req : ${requests}">
                        <span class="request-list__id" th:text="${req.id}">0</span>
                        <span class="request-list__title" th:text="${req.title}">Title</span>
                        (<span class="request-list__price" th:text="${req.price}">99.99</span>) - 
                        <span class="request-list__deadline" th:text="${req.deadline}">12/12/2018</span>
                        <br />
                        <span class="request-list__content" th:text="${req.content}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                    </div>
                </div>
            </section>
        </main>
    </div>

</body>

</html>
