<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,width=device-width">

    <title>Client-Panel / RPS</title>

     <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div class="container">

        <header class="header">
            <a href="/client" class="header__title">Client Panel.</a>
        </header>

        <section id="client" class="active">

            <form class="form" action="#" method="post" th:action="@{/client}" th:object="${request}">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <p class="form-inputs">
                    <span>Заявка:</span>
                    <input type="text" th:field="*{title}" required autocomplete="off" />
                </p>
                <p class="form-inputs">
                    <span>Цена</span>
                    <input type="text" th:field="*{price}" required autocomplete="off" />
                </p>
                <p class="form-inputs">
                    <span>Дата</span>
                    <input type="date" th:field="*{deadline}" required autocomplete="off" />
                </p>
                <p class="form-inputs">
                    <span>Сообщение:</span>
                    <input type="text" th:field="*{content}" autocomplete="off" />
                </p>
                <p><input type="submit" value="Submit" /></p>
            </form>

            <div class="client-status">
                <h3>Таблица заказов</h3>
                <table>
                    <tr th:each="req : ${requests}">
                        <td th:text="${req.title}"></td>
                        <td th:text="${req.content}"></td>
                        <td th:text="${req.price}"></td>
                        <td th:text="${req.deadline}"></td>
                    </tr>
                </table>
            </div>

        </section>

    </div>

</body>

</html>
